nextflow.enable.dsl = 2

manifest {
    name = 'tfm-promoter-sequence-pipeline'
    description = 'Nextflow orchestration layer for the promoter sequence Python pipeline'
    mainScript = 'main.nf'
}

params {
    input = null
    name = null
    human_fasta = null
    mouse_fasta = null
    promoter_alignment = null

    outdir = 'results'
    publish_mode = 'copy'

    normalization = 'quantile_norm'
    normalization_ranking_tissue = 'General'
    pairing = 'cross_species'
    profiling = 'cosine_sim'
    labeling = 'rank_labeling_random'

    n_pos = 10000
    n_neg = 10000
    seed = 42

    split_mode = 'anti_leakage'
    train_species = 'human'
    val_frac = 0.1
    test_frac = 0.05
    random_seqs = false

    batch_size = 32
    epochs = 15
    learning_rate = 0.001
    margin = 1
    dropout = 0.3
    weight_decay = 0.01
    optimize = false

    container_image = 'tfm-promoter-sequence-pipeline:latest'
    cluster_options = ''
}

includeConfig 'conf/base.config'

profiles {
    local {
        includeConfig 'conf/local.config'
    }

    conda {
        includeConfig 'conf/conda.config'
    }

    docker {
        includeConfig 'conf/docker.config'
    }

    slurm {
        includeConfig 'conf/slurm.config'
    }
}
