workDir = 'work'

process {
    shell = ['/bin/bash', '-euo', 'pipefail']
    errorStrategy = 'terminate'

    withName: LABEL_GENE_PAIRS {
        cpus = 1
        memory = '4 GB'
        time = '2h'
    }

    withName: ENCODE_AND_SPLIT_PAIRS {
        cpus = 2
        memory = '8 GB'
        time = '2h'
    }

    withName: TRAIN_AND_EVALUATE_MODEL {
        cpus = 4
        memory = '16 GB'
        time = '12h'
    }

    withName: NORMALIZE_BENCHMARK {
        cpus = 1
        memory = '4 GB'
        time = '2h'
    }

    withName: PROFILE_BENCHMARK {
        cpus = 2
        memory = '8 GB'
        time = '4h'
    }
}

trace {
    enabled = true
    overwrite = true
    file = "${params.outdir}/nextflow_reports/trace.txt"
}

timeline {
    enabled = true
    overwrite = true
    file = "${params.outdir}/nextflow_reports/timeline.html"
}

report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/nextflow_reports/report.html"
}

dag {
    enabled = true
    overwrite = true
    file = "${params.outdir}/nextflow_reports/pipeline_dag.html"
}
