params {
    outdir = 'results'
    publish_mode = 'copy'

    profiling = 'z_score_cosine_sim'
    split_mode = 'anti_leakage'

    val_frac = 0.1
    test_frac = 0.05
    seed = 42
    random_seqs = false
}

profiles {
    local {
        process.executor = 'local'
    }

    conda {
        conda.enabled = true
        process.conda = 'envs/environment.yml'
    }
}

process {
    withName: 'ENCODE_AND_SPLIT_PAIRS' {
        cpus = 1
        memory = '1 GB'
        time = '0.5h'
    }
}
