params {
    outdir = 'results'
    publish_mode = 'copy'

    /*
     * Input files.
     * These can be passed in the command line instead of edited here.
     */
    input = null
    human_fasta = null
    mouse_fasta = null
    gene_list = null

    /*
     * Normalization benchmark.
     */
    normalization_tissue = 'General'
    normalization_selection_metric = 'pearson_increment'

    /*
     * Profiling benchmark.
     */
    profiling_promoter = ''

    /*
     * Labeling.
     */
    pairing = 'cross_species'
    labeling = 'rank_labeling_random'
    n_pos = 10000
    n_neg = 10000

    /*
     * Encoding/splitting.
     */
    split_mode = 'anti_leakage'
    val_frac = 0.1
    test_frac = 0.05
    random_seqs = false

    /*
     * Shared random seed.
     */
    seed = 42

    /*
     * Model training/evaluation.
     */
    batch_size = 32
    epochs = 15
    learning_rate = 0.001
    margin = 1.0
    dropout = 0.3
    weight_decay = 0.01
    optimize = false
}

profiles {
    local {
        process.executor = 'local'
    }

    conda {
        conda.enabled = true
        process.conda = 'envs/environment.yml'
    }
}

process {
    withName: 'NORMALIZATION_BENCHMARK' {
        cpus = 2
        memory = '8 GB'
        time = '2h'
    }

    withName: 'PROFILING_BENCHMARK' {
        cpus = 2
        memory = '8 GB'
        time = '2h'
    }

    withName: 'LABEL_GENE_PAIRS_FROM_BENCHMARKS' {
        cpus = 2
        memory = '8 GB'
        time = '2h'
    }

    withName: 'ENCODE_AND_SPLIT_PAIRS_FROM_BENCHMARKS' {
        cpus = 2
        memory = '8 GB'
        time = '2h'
    }

    withName: 'TRAIN_AND_EVALUATE_MODEL_FROM_BENCHMARKS' {
        cpus = 2
        memory = '8 GB'
        time = '8h'
    }
}
