params {
    outdir = 'results'
    publish_mode = 'copy'

    metric = 'z_score_cosine_sim'

    batch_size = 32
    epochs = 15
    learning_rate = 0.001
    margin = 1.0
    dropout = 0.3
    weight_decay = 0.01
    optimize = false
}

profiles {
    local {
        process.executor = 'local'
    }

    conda {
        conda.enabled = true
        process.conda = 'envs/environment.yml'
    }
}

process {
    withName: 'TRAIN_AND_EVALUATE_MODEL' {
        cpus = 2
        memory = '8 GB'
        time = '8h'
    }
}
