params {
    outdir = 'results'
    publish_mode = 'copy'

    metric = 'cosine_sim'

    batch_size = 32
    epochs = 15
    learning_rate = 1e-5
    margin = 1.0
    dropout = 0
    weight_decay = 1e-6

    small_kernel_size = 4
    medium_kernel_size = 10
    large_kernel_size = 24
    attention_heads = 4
    embedding_dim = 16

    optimize = false
    optuna_trials = 20
    optuna_jobs = 1
    optuna_epochs = 8
}

profiles {
    local {
        process.executor = 'local'
    }

    conda {
        conda.enabled = true
        process.conda = 'envs/environment.yml'
    }
}

process {
    withName: 'TRAIN_AND_EVALUATE_MODEL' {
        cpus = 2
        memory = '2 GB'
        time = '2h'
    }
}
