params {
    outdir = 'results'
    publish_mode = 'copy'

    normalization_tissue = 'General'
    normalization_selection_metric = 'pearson_increment'
    normalization_methods = ''
}

profiles {
    local {
        process.executor = 'local'
    }

    conda {
        conda.enabled = true
        process.conda = 'envs/environment.yml'
    }
}

process {
    withName: 'NORMALIZATION_BENCHMARK' {
        cpus = 2
        memory = '8 GB'
        time = '2h'
    }
}
