params {
    outdir = 'results'
    publish_mode = 'copy'

    normalization_tissue = 'General'
    normalization_selection_metric = 'pearson_increment'

    profiling_promoter = ''

    pairing = 'cross_species'
    labeling = 'rank_labeling'

    n_pos = 10000
    n_neg = 10000
    seed = 42
}

profiles {
    local {
        process.executor = 'local'
    }

    conda {
        conda.enabled = true
        process.conda = 'envs/environment.yml'
    }
}

process {
    withName: 'NORMALIZATION_BENCHMARK' {
        cpus = 2
        memory = '8 GB'
        time = '2h'
    }

    withName: 'PROFILING_BENCHMARK' {
        cpus = 2
        memory = '8 GB'
        time = '2h'
    }

    withName: 'LABEL_GENE_PAIRS' {
        cpus = 2
        memory = '8 GB'
        time = '2h'
    }
}
