params {
    outdir = 'results'
    publish_mode = 'copy'

    profiling_promoter = ''
    expression_unit = "tpm"
}

profiles {
    local {
        process.executor = 'local'
    }

    conda {
        conda.enabled = true
        process.conda = 'envs/environment.yml'
    }
}

process {
    withName: 'PROFILING_BENCHMARK' {
        cpus = 2
        memory = '8 GB'
        time = '2h'
    }
}
